
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #18181f;
    font-family: "Reem Kufi", sans-serif;
    display: flex;
}

header {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    width: 10%;
    border-right: 2px solid #E9B766;
    background-color: #20202A;
    color: aliceblue;
    min-width: 150px;
}


.logo {
    margin : 10px;
    align-items: center;
}

.logo img {
    width: 100%;
    aspect-ratio: 3/1;
    margin-bottom: 30px;
    margin-left: 0;

}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.nav-bar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.nav-bar ul li {
    height: 60px;
    list-style: none;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    border-top: 1px solid #505051;
    border-bottom: 1px solid #505051;
}

.nav-bar ul li:hover {
    background-color: #18181f;
  

}

.nav-bar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    align-content: center;
}

main {
    width: 100%;
    height: 95vh;
    margin:20px 60px ;
}

.grilleCompetence {
    display:grid;
    grid-template: repeat(3, 1fr) / repeat(6, 1fr);
    /* column-gap: 15px; */
    row-gap: 20px;
    width: 100%;
    height: 100%;
}

.box {
    /* border:1px solid aliceblue; */
    border-radius: 33px;
    align-content: center;
    justify-items: center;
    text-align: center;

}

.gitC{
    grid-area: 2 / 1 / span 1 /span 1;
}


.htmlC {
    grid-area: 2 / 2 / span 1 /span 1;
}

.jsC {
   grid-area: 2 / 3 / span 1 /span 1;
}

.cssC {
   grid-area: 2 / 4 / span 1 /span 1;
}

.markdownC{
   grid-area: 2 / 5 / span 1 /span 1;
}

.wordpressC{
    grid-area: 2 / 6 / span 1 /span 1;
}


img {
    margin-top: 10px;
    margin-left: 10px;
}

p {
    color: aliceblue;
    margin: 12px;
}

.expand {
    transition: 0.5s;
    /* grid-column: span 8; /* Prend 8 colonnes sur 12 */
    /* grid-row: span 3; Prend 3 lignes */
    z-index: 1; /* Assure que l'élément est au-dessus des autres */
} 